* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkred;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.btn {
  background-color: rgb(71 158 40);
  color: white;
  border: none;
  width: 100%;
  height: 7vh;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  /* margin: 8px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cart {
  margin-top: 20px;
  float: right;
  margin-right: -60px;
  width: 200px;
  position: fixed;
  padding: 20px 40px;
  cursor: pointer;
  z-index: 2;
  right: 90px;
  color: black;
  background-color: rgb(255 255 255 / 84%);
  border: none;
  /* position: absolute; */
  top: 30px;
  right: 4rem;
}

#totalAmount {
  font-size: 20px;
  font-weight: bold;
}

.checkout {
  width: 100px;
  height: 30px;
  background-color: rgb(71 158 40);
  color: white;
  border: none;
  font-size: larger;
  cursor: pointer;
  margin-top: 20px;
}

.checkout:hover {
  transform: scale(1.1);
  background-color: rgb(248, 120, 40);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderSection {
  width: 100%;
  background-color: black;
  /* height: 45rem; */
  background-image: url(knife.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.top {
  display: flex;
  flex-direction: column;
  height: 45rem;
  justify-content: center;
  align-items: center;
}

.piccola {
  font-size: 5rem;
}

.pagetitle {
  display: flex;
  align-items: center;
  padding: 6rem;
  font-style: italic;
  font-size: 35px;
}


.container {
  width: 70%;
}

.FoodGallery,
.DrinksSection,
.DessertSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.FoodGallery img,
.drinkgallery img,
.DessertSection img {
  height: 300px;
  width: 298px;
}

.gallery,
.drinkgallery,
.dessertgallery {
  width: 300px;
  margin: 15px;
  background-color: #5f1313;
  color: white;
  /* border: 2px solid rgb(176, 176, 176); */
  text-align: center;
}

.gallery:hover,
.drinkgallery:hover,
.dessertgallery:hover {
  transform: scale(1.1);
}

h2 .bi {
  font-size: 32px;
  font-weight: bold;
}



li {
  padding: 1rem;
}

h1 {
  color: white;
  text-align: center;
  font-size: 40px;

}

h2 .bi {
  font-size: 32px;
  font-weight: bold;
}

.description {
  font-weight: bold;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addToCartBtn {
  width: 85px;
  height: 30px;
  background-color: rgb(71 158 40);
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.addToCartBtn:hover {
  background-color: rgb(248, 120, 40);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(6, 6, 6);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 130px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.copywrite {
  display: flex;
  align-items: center;
}